<!-- Validation failure messages -->
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_user/<%= @user.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First Name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First Name" class="form-control" value="<%= @user.first_name %>">
      </div>

      <!-- Label and input for last name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last Name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last Name" class="form-control" value="<%= @user.last_name %>">
      </div>

      <!-- Label and input for dob -->
      <div class="form-group">
        <label for="dob" class="control-label">
          DOB
        </label>

        <input type="text" id="dob" name="dob" placeholder="DOB" class="form-control" value="<%= @user.dob %>">
      </div>

      <!-- Label and input for gender -->
      <div class="form-group">
        <label for="gender" class="control-label">
          Gender
        </label>

        <input type="text" id="gender" name="gender" placeholder="Fullness score" class="form-control" value="<%= @user.gender %>">
      </div>

      <!-- Label and input for height -->
      <div class="form-group">
        <label for="height_inches" class="control-label">
          Height (inches)
        </label>

        <input type="text" id="height_inches" name="height_inches" placeholder="Height" class="form-control" value="<%= @user.height_inches %>">
      </div>

      <!-- Label and input for weight_starting_lbs -->
      <div class="form-group">
        <label for="weight_starting_lbs" class="control-label">
          Starting Weight
        </label>

        <input type="text" id="weight_starting_lbs" name="weight_starting_lbs" placeholder="Starting Weight" class="form-control" value="<%= @user.weight_starting_lbs %>">
      </div>

      <!-- Label and input for weight_goal_lbs -->
      <div class="form-group">
        <label for="weight_goal_lbs" class="control-label">
          Goal Weight
        </label>

        <input type="text" id="weight_goal_lbs" name="weight_goal_lbs" placeholder="Goal Weight" class="form-control" value="<%= @user.weight_goal_lbs %>">
      </div>

      <!-- Label and input for activity_level -->
      <div class="form-group">
        <label for="activity_level" class="control-label">
          Activity Level
        </label>

        <input type="text" id="activity_level" name="activity_level" placeholder="Activity Level" class="form-control" value="<%= @user.activity_level %>">
      </div>

      <!-- Label and input for zip -->
      <div class="form-group">
        <label for="zip" class="control-label">
          Zip Code
        </label>

        <input type="text" id="zip" name="zip" placeholder="Zip Code" class="form-control" value="<%= @user.zip %>">
      </div>

      <button class="btn btn-warning">
        Update User
      </button>
      or
      <a href="/users/<%= @user.id %>">Cancel</a>
    </form>
  </div>
</div>
