
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h3><%= @user.username %></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <a href="/users/<%= @user.id %>">
      <img src="<%= @user.image %>" class="img-responsive img-thumbnail">
    </a>
  </div>
  <div class="col-md-8">
    <table class="table table-hover">
      <tr>
        <td><strong>Email</strong></td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td><strong>Name</strong></td>
        <td><%= @user.first_name + " " + @user.last_name%></td>
      </tr>
      <tr>
        <td><strong>DOB</strong></td>
        <td><%= @user.dob%></td>
      </tr>
      <tr>
        <td><strong>Gender</strong></td>
        <td><%= @user.gender%></td>
      </tr>
      <tr>
        <td><strong>Height</strong></td>
        <td><%= @user.height_inches %></td>
      </tr>
      <tr>
        <td><strong>Starting Weight</strong></td>
        <td><%= @user.weight_starting_lbs %></td>
      </tr>
      <tr>
        <td><strong>Goal Weight</strong></td>
        <td><%= @user.weight_goal_lbs %></td>
      </tr>
      <tr>
        <td><strong>Zip</strong></td>
        <td><%= @user.zip %></td>
      </tr>

    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group btn-group-justified">
      <a href="/daily_record" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

