<!-- Validation failure messages -->
<% if @daily_record.errors.any? %>
  <% @daily_record.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Daily Record</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_daily_record" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label"></label>

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= Date.today %>">
      </div>

      <!-- Label and input for weight -->
      <div class="form-group">
        <label for="weight" class="control-label">
          Weight
        </label>

        <input type="text" id="weight" name="weight" placeholder="Weight" class="form-control" value="<%= @daily_record.weight %>">
      </div>

      <!-- Label and input for average_fullness -->
      <div class="form-group">
        <label for="average_fullness" class="control-label">
          Average fullness
        </label>

        <input type="text" id="average_fullness" name="average_fullness" placeholder="Average fullness" class="form-control" value="5.5">
      </div>

      <!-- Label and input for weight_loss_probability -->
      <div class="form-group">
        <label for="weight_loss_probability" class="control-label">
          Weight loss probability
        </label>

        <input type="text" id="weight_loss_probability" name="weight_loss_probability" placeholder="Weight loss probability" class="form-control" value="0.55">
      </div>

      <button class="btn btn-success">
        Create Daily Record
      </button>
      or
      <a href="/daily_records">Cancel</a>
    </form>
  </div>
</div>
