<%= DailyRecord.find_by(:date => params[:date], :user_id => current_user.id).id %>

<%= link_to "Back", :back, class: "btn btn-link btn-block" %>

Meal.where(:daily_record_id => "7").sum("meals.fullness_score")


<%= form_for(@daily_record) do |f| %>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
  $("#daily_record").submit();
  });

  $(document).ready(function(){
    $.ajax({
      url: $('#daily_record').attr('action'),
      success: function(data){
        alert(data);
      },
      error: function(){
        alert('failure');
      }
    });
  });
</script>
